@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Special Gothic Expanded One';
}


body {
    background: url('feiratatuape.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.container {
    max-width: 500px;
    margin: 60px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3a81b1;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0c5c7c;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background 0.3s;
}

ul li:hover {
    background-color: #f0f0f0;
}

ul li.comprado {
    text-decoration: line-through;
    color: gray;
}

.btn-limpar {
    background-color: #d32f2f;
    ;
}

.btn-limpar:hover {
    background-color: red;
}


@media (max-width: 600px) {
    .container {
        margin: 30px 20px;
    }

    input, button {
        font-size: 14px;
    }
}